<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/Nlog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="${basedir}\Logs\internallog.txt">
	<targets>
		<!-- Write logs to a file -->
		<target name="logfile" xsi:type="File"
				fileName="${basedir}/logs/${shortdate}_logfile.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"></target>
		<!-- Write logs to the console -->
		<target xsi:type="Console" name="logconsole" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="logfile, logconsole"></logger>
	</rules>
</nlog>